html {
    box-sizing: border-box;
    
    
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body{
    background-color: #121212;
    transition: 0.5s ease all;
  }

  body.light {
    background-color: rgb(254, 254, 254);
  }

/* Header Section */

header{
  background-color: #BE20F7;
  height: 50px;
  margin: 50px;
  margin-bottom: 0px;
  border-radius: 20px;
  display: flex;
  justify-content: end;
}

header .switch {
  background-color: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 67px;
  justify-content: space-around;
  margin-left: 30px;
}

header .switch::after{
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

header .switch.active {
  background-color: #eda303;
  color: black;
  
}

.switch.active::after {
  right: 0;
  left: unset;
  background-color: black;
}

header span{
  width: 22px;
  height: 22px;
  display: block;
  background: none;
  color: white;
  
}



nav{
  width: 500px;
  margin-right: 120px;
  
}


header ul{
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}


nav ul a{
  width: 100px;
  text-decoration: none;
  text-align: center;
  
}

nav ul a li{
  list-style:none;
  width: 100px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  text-align-last: center;
  color: white;
}

body.light nav ul a li{
  color: #121212;
  font-size: 20px;
  font-weight: 700;
}

/* Main Section */

#main{
  display: flex;
}

#main .yellow{
  background-color: #F7BC39;
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 100px;
  margin-right: 260px;
  width: 1600px;
  height: 800px;
  border: #F7BC39 5px solid;
  display: flex;
  justify-content: space-around;
}

#main .about{
  position: relative;
  top: 250px;
  width: 500px;
  z-index: 10;
  left: 130px;
}

#main .about h2{
  font-family: 'Bungee Inline', cursive;
  font-style: italic;
  font-size: 45px;
}

#main .about p{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 25px;
  font-weight: bold;
}

#main .about a{
  color: #7F05AB;
}


#main .lineas{
  border: #07F791 15px double;
  position: absolute;
  width: 1640px;
  height: 760px;
  top: 297px;
  left: 170px;
  border-radius: 20px;
 
}

#main .img{
  background-image: url(../images/IMG_20220320_143749.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 800px;
  border-radius: 20px;
  border: #7F05AB 5px solid;
  position: relative;
  top: -60px;
  right: -220px;
  z-index: 1;
  
}

#main .semaforo{
  width: 9px;
  height: 18px;
  position: relative;
  top: 77px;
  left: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-top: 1px;
  border-radius: 15px;
}

#main .rojo{
  /* background-color: red; */
  height: 9px;
  width: 9px;
  background-color: rgb(72, 38, 38);
  border-radius: 100%;
  /* margin-right: 0.1px; */
  border: black 0.7px solid;
  animation: rojo 5s infinite;
}

@keyframes rojo {

  59%{
    background-color: rgb(72, 38, 38);
  }
  60%{
    background-color: red;
  }

  99%{
    background-color: red;
  }
  
}

#main .amarillo{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #4a4231;
  /* margin-right: 0.5px; */
  border: black 0.7px solid;
  animation: amarillo 5s infinite;
}

@keyframes amarillo{

  39%{
    background-color: #4a4231;
  }
  40%{
    background-color: #eda303;
  }

  59%{
    background-color: #eda303;
  }

  60%{
    background-color: #4a4231;
  }
}

#main .verde{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #07F791;
  /* margin-right: 0.5px; */
  border: black 1px solid;
  animation: verde 5s infinite;
}

@keyframes verde {

  39%{
    background-color: #07F791
  }
  40%{
    background-color: #233a30;
  }

  99%{
    background-color: #233a30;
  }

   100%{
    background-color: #07F791;
  } 
}

#main .dos{
  position: relative;
  left: 220px;
  top: 67px;
  width: 6px;
}

#main .rojo-dos{
  height: 7px;
  width: 7px;
  background-color: rgb(72, 38, 38);
  border-radius: 100%;
  /* margin-right: 0.1px; */
  border: black 0.5px solid;
  animation: rojo 5s infinite;
}

#main .amarillo-dos{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #4a4231;
  /* margin-right: 0.5px; */
  border: black 0.5px solid;
  animation: amarillo 5s infinite;
}

#main .verde-dos{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #07F791;
  /* margin-right: 0.5px; */
  border: black 0.5px solid;
  animation: verde 5s infinite;
}

#main .tres{
  width: 6px;
  position: relative;
  left: 406px;
  top: 68px;
}

#main .rojo-tres{
  height: 7px;
  width: 7px;
  background-color: rgb(72, 38, 38);
  border-radius: 100%;
  /* margin-right: 0.1px; */
  border: black 0.5px solid;
  animation: rojo 5s infinite;
}

#main .amarillo-tres{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #4a4231;
  /* margin-right: 0.5px; */
  border: black 0.5px solid;
  animation: amarillo 5s infinite;
}

#main .verde-tres{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #07F791;
  /* margin-right: 0.5px; */
  border: black 0.5px solid;
  animation: verde 5s infinite;
}




#main h1{
  background-color: #07F791;
  font-size: 75px;
  text-align: center;
  width: 600px;
  position: relative;
  top: 50px;
  right: 53px;
  padding: 10px;
  border-radius: 15px;
  opacity: 0.99;
  color: #07F791;
  font-style:italic;
  border: black 5px double;
  -webkit-text-stroke: 2px #7F05AB;
  font-family: 'Bungee Inline', cursive;
}

#main .img h2{
  background-color: transparent;
  position: relative;
  top: 267px;
  left: 200px;
  width: 360px;
  font-size: 36px;
  color: hsl(155, 94%, 40%);
  font-style:italic;
  -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
  font-family: 'Bungee Inline', cursive;
  animation:  luzOn 7s linear infinite reverse ;
}

#main .img p{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 19px;
  font-weight: bold;
  position: relative;
  top: 382px;
  width: 400px;
  left: 10px;
}

@keyframes luzOn {
  10%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: 	hsl(155, 96%, 60%);
  }
  20%{
    -webkit-text-stroke: 1px hsla(284, 94%, 40%, 1);
    color: hsl(155, 94%, 40%);
  }
  30%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(155, 96%, 60%);
  }
  40%{
    -webkit-text-stroke: 1px hsla(284, 94%, 40%, 1);
    color: hsl(155, 94%, 40%);
  }
  50%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(155, 96%, 60%);
  }
  60%{
    -webkit-text-stroke: 1px hsla(284, 94%, 60%, 1);
    color: hsl(310, 94%, 50%);
    
  }
  70%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(310, 94%, 50%);
  }
  80%{
    -webkit-text-stroke: 1px hsla(284, 94%, 55%, 1);
    color: hsl(310, 94%, 50%);
  }
  90%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(310, 94%, 50%);
  }
  100%{
    -webkit-text-stroke: 1px hsla(284, 94%, 65%, 1);
    color: 	hsl(310, 94%, 50%);
  }
}



/* Project Section */

#projects{
  width: 100%;
  border: #7F05AB 15px double;
  margin-top: 13px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
  border-bottom: none;
}

#projects .container{
  max-width: 1650px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  flex-wrap: wrap;
}


#projects .project {
  width: 400px;
}


#projects .project h2{
  font-size: 40px;
  color:  hsl(155, 94%, 40%);
  font-style:italic;
  -webkit-text-stroke: 1px hsla(284, 94%, 40%, 1);
  font-family: 'Bungee Inline', cursive;
  animation:  projectLuz 6s linear infinite ;
}

@keyframes projectLuz {
  20%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: 	hsl(155, 96%, 60%);
  }
  40%{
    -webkit-text-stroke: 1px hsla(284, 94%, 40%, 1);
    color: hsl(155, 94%, 40%);
  }
  60%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(155, 96%, 60%);
  }
  80%{
    -webkit-text-stroke: 1px hsla(284, 94%, 40%, 1);
    color: hsl(155, 94%, 40%);
  }

  
  
}

#projects .project img {
  width: 400px;
}

#projects .project p{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 25px;
  font-weight: bold;
  color:#0EAB68;
  display: none;
}

#projects .down {
  background-color: #2e2727;
  display: block;
  margin: auto;
  cursor: pointer;
}

#projects .arrow{
  color: #0EAB68;
  background-color: #2e2727;
}

/* Skills Section */

#skills {
  border: #0EAB68 15px double;
  border-top: none;
  display: flex;
  flex-direction: column;
  border-bottom: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

#skills h2{
  font-size: 40px;
  color: hsl(310, 94%, 50%);
  font-style:italic;
  -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
  font-family: 'Bungee Inline', cursive;
  animation:  skillsLuz 4s linear infinite;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 5px;
}

@keyframes skillsLuz {
  
  20%{
    -webkit-text-stroke: 1px hsla(284, 94%, 60%, 1);
    color: hsl(310, 94%, 50%);
    
  }
  40%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(310, 94%, 50%);
  }
  60%{
    -webkit-text-stroke: 1px hsla(284, 94%, 55%, 1);
    color: hsl(310, 94%, 50%);
  }
  80%{
    -webkit-text-stroke: 1px hsla(284, 94%, 34%, 1);
    color: hsl(310, 94%, 50%);
  }
  100%{
    -webkit-text-stroke: 1px hsla(284, 94%, 65%, 1);
    color: 	hsl(310, 94%, 50%);
  }
}

#skills .skills-container{
  display: flex;
  justify-content: space-around;
  background-color: #411e57;
  margin: auto;
  flex-wrap: wrap;
  max-width:800px;
  border-radius: 15px;
  margin-bottom: 100px;

}

body.light #skills .skills-container{
  background-color: transparent;
}

#skills .skill{
  width: 150px;
  height: auto;
  overflow: hidden;
}

#skills img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#skills .git {
  width: 110px;
  margin: 20px auto;
  
}

#skills .github{
  width: 110px;
  margin: 20px auto;

}

#skills .css{
  width: 120px;
  padding: 19px;
  
}

#skills .html{
  width: 180px;
  padding: 20px;
}

#skills .java{
  margin-top: 20px;
}

#skills .tres{
  width: 180px;
  margin-left: -10px;
  margin-right: -10px;
}

#skills p{
  color: #F7BC39;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

body.light #skills p{
  color: hsl(310, 94%, 50%);
}

#skills .made {
  text-decoration: underline;
}

#skills .heart {
  color: red;
}

#skills .cba {
  color: #F7BC39;
}

body.light #skills .cba{
  color: hsl(310, 94%, 50%);
}





